nav
	.marquee(data-duration='50000' data-pauseOnHover='true')
		a(href='#')
			h2 Watch
		a(href='#')
			h2 Screenings
		a(href='#')
			h2 Credits
		a(href='#')
			h2 Contact
		a(href='#')
			h2 Watch
		a(href='#')
			h2 Screenings
		a(href='#')
			h2 Credits
		a(href='#')
			h2 Contact
		a(href='#')
			h2 Watch
		a(href='#')
			h2 Screenings
		a(href='#')
			h2 Credits
		a(href='#')
			h2 Contact