html, body {
  margin: 0;
  font-family: arial;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto; }

h1 {
  font-size: calc(100vh/3 - 20px); }

h2 {
  font-size: 20px; }

main section.hidden {
  display: none; }

.flag {
  height: calc(100vh/3 - 20px); }
  .flag.white {
    background: #FFFFFF; }
  .flag.blue {
    background: #124BB8; }
  .flag.red {
    background: #DC372B; }
  .flag h1 {
    margin: 0;
    line-height: 1em;
    white-space: nowrap;
    cursor: default; }
  .flag .marquee {
    width: 100%;
    overflow: hidden; }
  .flag .ru {
    display: none; }
  .flag:hover .en {
    display: none; }
  .flag:hover .ru {
    display: block; }

nav {
  width: 100%;
  display: table;
  background: black;
  color: #FFFFFF; }
  nav a, nav a:visited {
    color: #FFFFFF; }
    nav a:hover:nth-child(odd), nav a:visited:hover:nth-child(odd) {
      color: #DC372B; }
    nav a:hover:nth-child(even), nav a:visited:hover:nth-child(even) {
      color: #124BB8; }
  nav h2 {
    display: inline-block;
    margin: 1em; }

.grid {
  background: black;
  padding: 0 5px 5px 5px; }
  .grid figure {
    width: calc(10% - 10px - (10px/10));
    height: 10vw;
    border: 5px solid black;
    margin: 0;
    cursor: all-scroll; }
    .grid figure:nth-child(3n+1) {
      background: #FFFFFF; }
    .grid figure:nth-child(3n+2) {
      background: #124BB8; }
    .grid figure:nth-child(3n+3) {
      background: #DC372B; }
    .grid figure.is-dragging {
      z-index: 100; }
